fastapi
uvicorn
pydantic[email]
svix-ksuid==0.6.0
python-multipart==0.0.5
PyJWT
sqlalchemy
pymysql
cryptography
mysqlclient
passlib[bcrypt]
python-jose[cryptography]
ksuid
pandas
xlrd
openpyxl
requests
gdown
googledrivedownloader